@media (min-width: 320px) and (max-width: 575.99px) {
    /* navber */
    .navbar-nav {
        align-items: center;
    }
    .collapse .btnCommon {
        margin: auto;
    }
    /* ------banner responsive--------- */
    .overly {
        width: 0; 
        height: 0;  
    }
    .banner-main h1 {
        font-size: 35px;
    }
    .banner-main p {
        width: 304px; 
    }
    .btnCommon {
         margin: 0; 
    }
    .banner-main {
        padding: 42px 0px;
        
    }
    /* -----------service res---------- */
    .service-effcet {
        display: none;
    }
    .title h2 {
        width: 287px;
        font-size: 26px;
        
    }
    .row {
        gap: 26px;
    }
    /*---------about res---------  */
    .first-img {
        width: 47%;
    }
    .w-50 {
         width: 0px ; 
    }
    .gap-5 {
        gap: 2rem !important;
    }
    .about h1 {
        font-size: 34px;
    }
    /* -----recent------- */
    .btn{
        display: none;
    }
    /* -------portfolio------- */
    .portfolio-header h1 {
        font-size: 29px;   
    }
    /* ------testimonial --------- */
    .test-header h1 {
        font-size: 29px;    
    }
    .tt-vector {
        top: 162px;    
    }

    /* ------contact------- */
    .contact h1 {
        font-size: 28px;
    }
    .contact-input input {
        width: 100%;
    }
    .contact-input ::placeholder{
        font-size: 30px;
     }
     .comment{
        font-size: 30px !important;
    }
    .contact-input input {
        border: 2px solid rgb(92, 87, 87); 
       
    }
    .contact-input textarea{
        border: 2px solid rgb(92, 87, 87);   
     }
    /* -----------blogs------ */
    .blog-box h1 {
        font-size: 30px;
    }
    .blogs p {
        font-size: 11px;
    }
    /* ----footer---- */
    .ft-img{
        width: 200px;
    }
    .footer-nav ul li {
        border-right: 0px; 
    }
    ol, ul {
        padding-left: 0rem;
    }
}
@media (min-width: 576px) and (max-width: 767.99px) {
    /* navber */
    .navbar-nav {
        align-items: center;
    }
    .collapse .btnCommon {
        margin: auto;
    }
    /* ------banner responsive--------- */
    .overly {
        width: 0; 
        height: 0;  
    }
    .banner-main h1 {
        font-size: 64px;
    }
    .banner-main p {
        width: 479px;
    }
    .btnCommon {
         margin: 0; 
    }
    .banner-main {
        padding: 42px 0px;
        
    }
    /* -----------service res---------- */
    .service-effcet {
        display: none;
    }
    .title h2 {
        width: 287px;
        font-size: 26px;
        
    }
    
    /*---------about res---------  */
    .first-img {
        width: 47%;
    }
    .w-50 {
         width: 0px ; 
    }
    .gap-5 {
        gap: 2rem !important;
    }
    .about h1 {
        font-size: 34px;
    }
    /* -----recent------- */
    .btn{
        display: none;
    }
    /* -------portfolio------- */
    .portfolio-header h1 {
        font-size: 29px;   
    }
    /* ------testimonial --------- */
    .test-header h1 {
        font-size: 29px;    
    }
    .tt-vector {
        top: 109px;
    }
       /* ------contact------- */
       .contact h1 {
        font-size: 31px;
    }
    .contact-input input {
        width: 46%;
    }
    .contact-input ::placeholder{
        font-size: 30px;
     }
     .comment{
        font-size: 30px !important;
    }
    .contact-input input {
        border: 2px solid rgb(92, 87, 87); 
       
    }
    .contact-input textarea{
        border: 2px solid rgb(92, 87, 87);   
     }
    /* -----------blogs------ */
    .blog-box h1 {
        font-size: 30px;
    }
    .blogs p {
        font-size: 11px;
    }
    /* ----footer---- */
    .ft-img{
        width: 200px;
    }
    .footer-nav ul li {
        border-right: 0px; 
    }
    ol, ul {
        padding-left: 0rem;
    }
}
@media (min-width: 768px) and (max-width: 991.99px) {
    /* navber */
    .navbar-nav {
        align-items: center;
    }
    .collapse .btnCommon {
        margin: auto;
    }
    /* ------banner responsive--------- */
    .overly {
        width: 0; 
        height: 0;  
    }
    .banner-main h1 {
        font-size: 64px;
    }
    .banner-main p {
        width: 479px;
    }
    .btnCommon {
         margin: 0; 
    }
    .banner-main {
        padding: 42px 0px;
        
    }
    /* -----------service res---------- */
    .service-effcet {
        display: none;
    }
    .title h2 {
        width: 287px;
        font-size: 26px;
        
    }
    
    /*---------about res---------  */
    .first-img {
        width: 47%;
    }
    .w-50 {
         width: 0px ; 
    }
    .gap-5 {
        gap: 2rem !important;
    }
    .about h1 {
        font-size: 34px;
    }
    /* -----recent------- */
    .btn{
        display: none;
    }
    /* -------portfolio------- */
    .portfolio-header h1 {
        font-size: 29px;   
    }
    /* ------testimonial --------- */
    .test-header h1 {
        font-size: 29px;    
    }
    .tt-vector {
        top: 109px;
    }
       /* ------contact------- */
       .contact h1 {
        font-size: 31px;
    }
    .contact-input input {
        width: 46%;
    }
    .contact-input ::placeholder{
        font-size: 30px;
     }
     .comment{
        font-size: 30px !important;
    }
    .contact-input input {
        border: 2px solid rgb(92, 87, 87); 
       
    }
    .contact-input textarea{
        border: 2px solid rgb(92, 87, 87);   
     }
    /* -----------blogs------ */
    .blog-box h1 {
        font-size: 30px;
    }
    .blogs p {
        font-size: 11px;
    }
    /* ----footer---- */
    .ft-img{
        width: 200px;
    }
    .footer-nav ul li {
        border-right: 0px; 
    }
    ol, ul {
        padding-left: 0rem;
    }
}

