/* 
=====navber style open 
=======*/
nav{
    background-color: #FFFFFF;
    
}

.navbar-nav{
    gap: 50px;
    padding: 30px 0px;
}
.navbar-nav .nav-link{
    font-size: 23px;
    font-weight: 500;
    color: #00413D !important;
    font-family: "Jost", sans-serif;
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.nav-link:hover{
    color: #E5745D !important;
}


/* btn */
.btnCommon{
    text-decoration: none;
    background: #E5745D;
    width: 198px;
    height: 64px;
    font-size: 20px;
    line-height: 64px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    color: #ffff;
    text-align: center;
    position: relative;
}
.btnCommon a{
    text-decoration: none;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    color: #ffff;
}
.btnCommon::after{
    position: absolute;
    top: 7px;
    left: 8px;
    width: 182px;
    height: 51px;
    border: 1px solid #f3f3f3;
    content: "";
}
/* 
---------banner section style --------
*/
.banner-main{
    background: #00413D;
    width: 100%;
    padding: 160px 0px;
    position: relative;
    overflow: hidden;
}
.banner-main h1{
    font-weight: 700px;
    font-size: 100px;
    color: #FFFFFF;
    font-family: "Vollkorn", serif;
}
.banner-main h1 span{
    display: block;
}
.banner-main p{
    color: #b8b1b1;
    width: 670px;
    font-family: "Jost", sans-serif;
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 50px;
    font-weight: 400;
    line-height: 30px;
}
/* overly style */
.overly{
    background-image: url(../img/man.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -60%;
    transition: 0.4s;
}
.banner-main:hover .overly{
    right: 0;
}
/* /* animation */
.animation{
    background-image: url(../img/shape.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    position: absolute;
    top: 0;
    left: 0px;
    width: 40%;
    height: 100%;
}
/* 
-----
-----service style open---
-------------
*/
.service-main{
    padding-top: 130px;
}
.title h4{
    color: #E5745D;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}
.title h4::after{
    position: absolute;
    top: 9px;
    left: 41%;
    width: 51px;
    height: 3px;
    background: #E5745D;
    content: "";
}
.title h4::before{
    position: absolute;
    top: 5px;
    left: 44%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #E5745D;
    content: "";
}
.title h2{
    color: #00413D;
    width: 522px;
    margin: 0px auto;
    font-family: "Vollkorn", serif;
    font-size: 50px;
    padding-top: 11px;
}
/* sevice card */
.card-title{
    font-size: 24px;
    font-family: "Vollkorn", serif;
    color: #00413D;
}
.card-text{
    font-size: 16px;
    font-weight: 400;
    color: #00413D;
}
.card-title .fa-solid{
    font-size: 30px;
}
.card-title .fa-solid:hover{
    color: #E5745D;
}
/* 
----------------
----------about-section------
-----------
*/
.first-img{
    width: 63%;
}
.about h1{
    font-size: 50px;
    font-family: "Vollkorn", serif;
    color: #00413D;
}
.about p{
    font-size: 16px;
    color: #00413D;
    font-family: "Jost", sans-serif;
}
/* about skill section */
.progress-box{
    border: 8px solid #E5745D;
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.progress-box h3{
    color: #E5745D;
    font-size: 34px;
    font-family: "Vollkorn", serif;
    font-weight: 600;
}
.skill-box h2{
    color: #00413D;
    font-size: 26px;
    font-weight: 600;
    font-family: "Vollkorn", serif;
}
/* 
-----------------
-------recent project--------
---------- 
*/
.recent-skip .btn{
    background-color: #eeeeee;
    color: #1b1818;
    font-size: 24px;
    
}
.recent-skip .btn:hover{
    background-color: #E5745D;
    color: #f3f3f3;
    
}