/* 
=====navber style open 
=======*/
nav {
    background-color: #FFFFFF;

}
ul li{
    list-style: none;
}

.navbar-nav {
    gap: 50px;
    padding: 30px 0px;
}

.navbar-nav .nav-link {
    font-size: 23px;
    font-weight: 500;
    color: #00413D !important;
    font-family: "Jost", sans-serif;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.nav-link:hover {
    color: #E5745D !important;
}


/* btn */
.btnCommon {
    text-decoration: none;
    background: #E5745D;
    width: 198px;
    height: 64px;
    font-size: 20px;
    line-height: 64px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    color: #ffff;
    text-align: center;
    position: relative;
}

.btnCommon a {
    text-decoration: none;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    color: #ffff;
}

.btnCommon::after {
    position: absolute;
    top: 7px;
    left: 8px;
    width: 182px;
    height: 51px;
    border: 1px solid #f3f3f3;
    content: "";
}

/* 
---------banner section style --------
*/
.banner-main {
    background: #00413D;
    width: 100%;
    padding: 160px 0px;
    position: relative;
    overflow: hidden;
}

.banner-main h1 {
    font-weight: 700px;
    font-size: 100px;
    color: #FFFFFF;
    font-family: "Vollkorn", serif;
}

.banner-main h1 span {
    display: block;
}

.banner-main p {
    color: #b8b1b1;
    width: 670px;
    font-family: "Jost", sans-serif;
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 50px;
    font-weight: 400;
    line-height: 30px;
}

/* overly style */
.overly {
    background-image: url(../img/man.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -60%;
    transition: 0.4s;
}

.banner-main:hover .overly {
    right: 0;
}

/* /* animation */
.animation {
    background-image: url(../img/shape.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0px;
    width: 40%;
    height: 100%;
}

/* 
-----
-----service style open---
-------------
*/
.service-main {
    padding-top: 130px;
}

.title h4 {
    color: #E5745D;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

/* .title h4::after {
    position: absolute;
    top: 9px;
    left: 41%;
    width: 51px;
    height: 3px;
    background: #E5745D;
    content: "";
}

.title h4::before {
    position: absolute;
    top: 5px;
    left: 44%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #E5745D;
    content: "";
} */

.title h2 {
    color: #00413D;
    width: 522px;
    margin: 0px auto;
    font-family: "Vollkorn", serif;
    font-size: 50px;
    padding-top: 11px;
}

/* sevice card */
.card-title {
    font-size: 24px;
    font-family: "Vollkorn", serif;
    color: #00413D;
}

.card-text {
    font-size: 16px;
    font-weight: 400;
    color: #00413D;
}

.card-title .fa-solid {
    font-size: 30px;
}

.card-title .fa-solid:hover {
    color: #E5745D;
}

.serivce-icon:hover{
    color: #E5745D;
}

/* 
----------------
----------about-section------
-----------
*/
.first-img {
    width: 63%;
}

.about h1 {
    font-size: 50px;
    font-family: "Vollkorn", serif;
    color: #00413D;
}

.about p {
    font-size: 16px;
    color: #00413D;
    font-family: "Jost", sans-serif;
}
.about-img{
    height: 46%;
}

/* about skill section */
.progress-box {
    border: 8px solid #E5745D;
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.progress-box h3 {
    color: #E5745D;
    font-size: 34px;
    font-family: "Vollkorn", serif;
    font-weight: 600;
}

.skill-box h2 {
    color: #00413D;
    font-size: 26px;
    font-weight: 600;
    font-family: "Vollkorn", serif;
}

/* 
-----------------
-------recent project--------
---------- 
*/
.recent-title p {
    color: #E5745D;
    font-size: 18px;
    font-weight: 500;
    font-family: "Vollkorn", serif;
}

.recent-title h2 {
    font-size: 50px;
    color: #00413D;
    font-family: "Vollkorn", serif;
}

.recent-skip .btn {
    background-color: #eeeeee;
    color: #1b1818;
    font-size: 24px;

}

.recent-skip .btn:hover {
    background-color: #E5745D;
    color: #f3f3f3;

}

/* recent card */
.card-img{
    height: 250px;
}
.recent-project h5 {
    color: #E5745D;
    font-size: 20px;
}

.recent-project h2 {
    color: #00413D;
    font-size: 24px;
    font-weight: 500;
    font-family: "Vollkorn", serif;
}
.recent-project p{
    color: #00413D;
    font-size: 16px;
    font-family: "Jost", sans-serif;
}
.recent-project .card-body{
    padding-left: 38px;
    line-height: 30px;
}

.card-link {
    text-decoration: none;
    font-size: 18px;
    font-family: "Jost", sans-serif;
    color: #00413D;
}
.card-link:hover{
    color: #E5745D;
}
/* 
-------------
--portfolio section styles
------------
*/
.portfolio-header h1{
    color: #00413D;
    font-size: 50px;
    font-family: "Vollkorn", serif;
}
.portfolio-header ul li{
    color:  #00413D;
    font-size: 22px;
    padding: 2px;
    font-family: "Vollkorn", serif;
}
.portfolio-header ul li:hover{
    border-bottom: 3px solid #E5745D;
}
/* cart */
.card-img2{
    height: 350px;
}
.portfolio-work .card-body{
    background-color: #00413D;
    color: #eeeeee;
    font-family: "Vollkorn", serif;
}
.pt-overly{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0px;
    content: "";
    opacity: 0;
    transition: 0.6s;
    
}
.pf-box{
    position: absolute;
    top: 12px;
    right: 15px;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    content: "";
}
.portfolio-box:hover .pt-overly{
    opacity: 1;
    background-color: rgba(0, 65,61, 0.4);
}
/*
-------testimonial  style --------
 */
 .testimonial{
    background-color: #F9F4F1;
    padding: 80px 0px;
 }
.test-header h1{
     font-size: 50px;
    font-weight: 600;
    color: #00413D;
    font-family: "Vollkorn", serif;
}
.tt-box{
    border-top: 7px solid #E5745D;
    position: relative;
}
.tt-vector {
    position: absolute;
    top: 84px;
    left: 47px;
}
/* profile tt */
.tt-profile{
    padding-left: 40px;
}
.profile-box h3{
    font-size: 22px;
    color: #00413D;
    font-family: "Vollkorn", serif;
}
.profile-box h4{
    font-size: 17px;
    color: #00413D;
    font-family: "Vollkorn", serif;
}
.profile-box ul {
    padding: 0;
}
.profile-box ul li i {
    color: #FF9F3F;
}
/*
-----------
-------contact style -------------
----------
 */
 .contact h1{
    font-size: 50px;
    font-weight: 600;
    color: #00413D;
    font-family: "Vollkorn", serif;
 }
 .contact-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
 }
 .contact-input input{
    width: 45%;
    border: 0;
    padding: 18px 7px;
    border-bottom: 3px solid rgba(53, 51, 51, 0.1);
   
 }
 .contact-input ::placeholder{
    color: #00413D;
    font-size: 20px;
    font-family: "Jost", sans-serif;
 }
 .contact-input textarea{
    border: 0;
    padding: 18px 7px;
    border-bottom: 3px solid rgba(53, 51, 51, 0.1);
   
 }
.comment{
    color: #00413D;
    font-size: 20px !important;
    font-family: "Jost", sans-serif; 
}
 
/* 
--------
---------blog style open-----------
----------
*/
.blog-box h1{
    color:  #00413D;
    font-size: 50px;
    font-family: "Vollkorn", serif;
    font-weight: 600;
}
.blogs h2{
    color: #00413D !important;
    font-size: 24px;
}
.blogs p{
    color: #00413D !important;
    font-size: 18px;
}
/* 
-----------------
----------Footer------
---------------
*/
.footer{
    background-color: #00413D;
    padding: 50px 0px;
}
/* footer nav */
.footer-nav ul li{
    border-right: 4px solid #534e4e;
    padding: 3px 12px;
    font-size: 20px;
    color: #FFFFFF;
}
.footer-nav .ft-link{
    border: 0;
}
/* footr icon */
.footer-icon li{
    background-color: #E5745D;
    border-radius: 50%;
}
.footer-icon li i{
    font-size: 25px;
    padding: 12px;
    color: #FFFFFF;
}
/* ft last */
.ft-last{
    background-color: #00413D;
}
.footer-last{
    border-top: 2px solid rgb(122, 118, 118);
    width: 85%;
    margin: auto;    
}
